<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="default" class="org.apache.log4j.RollingFileAppender">
    	<!--文件位置-->
        <param name="File" value="C:/logs/bluewhite.html" />
        <!-- Append true，默认每次启动系统，日志继续输出到原来的文件，而不是清空了再来 -->
        <param name="Append" value="true" />
        <!-- MaxBackupIndex 最多10个 ，多出1000个的日志文件会被自动清除-->
        <param name="MaxBackupIndex" value="10" />
        <!-- MaxFileSize 后缀可以是KB, MB 或者是 GB. 在日志文件到达该大小时，将会自动滚动，即将原来的内容移到mylog.log.1文件 -->
        <param name="MaxFileSize" value="500KB" />
        <!-- 编码格式 -->
        <param name="Encoding" value = "UTF-8"/>
        <!--输出格式-->
        <layout class="com.bluewhite.common.HTMLLayout">
            <param name="Title" value="蓝白erp系统日志" />
        </layout>
    </appender>
    
    <root>
        <priority value="DEBUG" />
        <appender-ref ref="default" />
    </root>

</log4j:configuration>
